body{
    background-color:#eaeaec ;
}
#app {
    height: 450px;
    width: 320px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

#app h1 {
    color: #2e2e38;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#app p {
    color: #706f84;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

#app form {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

#app input[type=textfield]{
    height: 20%;
    width: 80%;
    margin: 10px auto;
    cursor: default;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf9fe;
    border: 2px ¡important;
    border-color: #b9e6ff;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    outline: none;
}

#app input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#app .orange{
    background-color: rgb(253, 149,3);
    color: #ffffff;
}

#app .gray{
    background-color: rgb(88, 88, 88);
    color: #ffffff;
}