body{
    background-color:#ffd2d5 ;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#app {
    height: 550px;
    width: 350px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 50px auto;
    box-shadow: 0 5px 2pc rgba(31, 31, 31, 0.523);
    position: relative;
    z-index: 99;
}

#app h1 {
    color: #2e2e38;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    background-color: #ffffff00;
}

#app p {
    color: #706f84;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#app form {
    height: 100%;
    width: 100%;
}

#app input[type=textfield]{
    height: 20%;
    width: 80%;
    margin: 10px 18px 20px;
    cursor: default;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf9fe;
    border: 2px solid #b9e6ff;
    border-radius: 10px;
    color: #00aaff;
    font-weight: bold;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    outline: none;
}

#buttons {
    margin: 0 10px 10px 10px;
}

#app input[type=button], 
input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#app .orange{
    background-color: #00aaff;
    color: #ffffff;
}

#app .orange:hover{
    background-color: #008fcc;
    color: #ffffff;
}

#app .pink{
    background-color: #ffe1e1;
    color: #7e7e7e;
}

#app .pink:hover{
    background-color: #ffd2d2;
    color: #7e7e7e;
}